body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:561px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u622 {
  position:absolute;
  left:27px;
  top:16px;
  width:187px;
  height:22px;
}
#u622_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u622_input:disabled {
  color:grayText;
}
#u623 {
  position:absolute;
  left:242px;
  top:16px;
  width:196px;
  height:22px;
}
#u623_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u624 {
  position:absolute;
  left:455px;
  top:16px;
  width:78px;
  height:20px;
}
#u625 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u626 {
  position:absolute;
  left:36px;
  top:77px;
  width:521px;
  height:370px;
}
#u626_input {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:370px;
}
